@import "./variables.sass"

.button
  cursor: pointer
  box-sizing: border-box
  font-family: $font-roboto-condensed
  font-weight: 700
  font-size: 14px
  line-height: 16px
  text-align: center
  letter-spacing: 0.05em
  text-transform: uppercase
  border-radius: 5px
  padding: 14px 26px
  
@media (max-width: $not-desktop-width)
  .button
    padding: 18px 30px