.form-call
  width: 490px
  height: 605px
  background-color: $blue-color
  position: absolute
  z-index: 1
  left: 50%
  margin-left: -245px
  color: #ffffff
  potion: relative
  
  &__container
    margin: 33px 0 36px 40px
    display: flex
    flex-direction: column
  
  &__title
    font-family: $font-roboto-condensed
    font-style: normal
    font-weight: normal
    font-size: 28px
    line-height: 140.62%
    margin-bottom: 25px
  
  &__info
    font-family: $font-pt-mono
    line-height: 22px
    margin-bottom: 30px
    
  & input
    height: 51px
    width: 400px
    box-sizing: border-box
    margin-bottom: 30px
    padding-left: 25px
    border: none
    background-color: rgba(256, 256, 256, 0.1)
    color: #ffffff
    
    &::placeholder 
      color: #ffffff
    &:nth-child(5)
      height: 104px
      display: flex
      align-items: flex-start
    
  &__button
    height: 46px
    width: 400px
    border: 1px solid #ffffff
    background-color: rgba(256, 256, 256, 0.1)    
    font-family: $font-roboto-condensed
    color: #ffffff
    
  &__follow
    margin-top: 35px
    display: flex
    
    & input
      width: 16px
      height: 16px
      
    & label
      display: flex
      flex-wrap: wrap
      margin: 0 16px 0 32px
      font-family: $font-pt-mono
      font-size: 14px
      line-height: 16px
      color: #FFFFFF
      opacity: 0.8
  
  &::after
    width: 16px
    height: 16px
    cursor: pointer
    transform: rotate(45deg)
    position: absolute
    content: '+'
    font-style: normal
    font-weight: normal
    font-size: 32px
    color: #ffffff
    left: 453px
    top: 20px
  
.form-call--hidden
  display: none

    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    