@import "./variables.sass"
@import "./fonts.sass"
@import "./button.sass"
@import "./header.sass"
@import "./logo.sass"
@import "./contacts.sass"
@import "./form-call.sass"
@import "./header-banner.sass"
@import "./company-info.sass"
@import "./properties.sass"
@import "./information.sass"
@import "./services.sass"
@import "./form-questions.sass"
@import "./footer.sass"

*,
::after,
::before 
  box-sizing: inerit
  margin: 0
  padding: 0

body,
html
  height: 100%
  
html 
  box-sizing: border-box
  line-height: 1.15

body
  display: flex
  flex-direction: column
  position: relative
  min-width: 320px
  scroll-behavior: smooth
  font-family: $font-pt-mono
  font-size: 16px
  line-height: 22px
  font-weight: normal
  font-style: normal
  color: $font-color
  background-color: #ffffff

ul
  list-style: none
  
a
  text-decoration: none